:root {
    --cor_de_fundo: #240200;
    --cor_da_fonte: #154658;
}
 * {
   margin: 0;
   padding: 0;

  }
   


  .banner {
    width: 100%;
    height: 100px;
    background-color: var(--cor_de_fundo);

  }
  .rodape {
    background-color: var(--cor_de_fundo);
    width: 100%;
    height: 25px;

    

  }
